@font-face {
  font-family: myFirstFont;
  src: url("../fonts/bpg_mrgvlovani_caps_2010.ttf");
}

@font-face {
  font-family: mySecondFont;
  src: url("../fonts/bpg_arial_2009.ttf");
}
body {
  font-family: myFirstFont;
  background-color: #292d31;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 30px 59px;
  border-radius: 15px;
}

.wrapper {
  max-width: 1440px;
  width: calc(100% - 138px);

  border-radius: 15px;
}

.fillter {
  max-width: 300px;
  width: calc(100% - 138px);
  background-color: #2e3338;
  margin-left: 35px;
  border-radius: 15px;
}

/* --------------------header----------------------- */

header {
  width: 100%;

  padding: 17px 70px;
  background-color: #2e3338;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}
header nav ul li {
  margin-right: 40px;
}

header nav ul li:last-child {
  margin-right: 0px;
}
header ul li:last-child a {
  color: #399ee1;
}

header ul li a {
  color: #f9f9f9;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.icon::before {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: inline-block;
}
.house-icon::before {
  content: url("../img/Home.svg");
}
.user-icon::before {
  content: url("../img/user-sircle.svg");
}

.facebook-icon::before {
  content: url("../img/facebook.svg");
}

/* -----------------------------header end-------------------- */

/* -------------------------------main---------------------------- */

main {
  margin: 30px 0px;
  background-color: #2e3338;
  border-radius: 15px;
}

.banner {
  /* background-image: url('../img/banner.jpg'); */
  background-image: linear-gradient(#2e33389b, rgba(57, 63, 71, 0.7)),
    url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;

  border-radius: 15px 15px 0px 0px;
  padding: 58px 0px;
}

.banner p {
  margin: 0 auto;

  font-size: 22px;
  color: #f9f9f9;
  text-align: center;
  max-width: 600px;
  width: 60%;
  line-height: 2;
  padding: 0px 30px;
}

.main-page-content {
  margin-top: 80px;
}

/* .main-content {
  margin-bottom: 77px;
} */

.main-content:last-child {
  padding-bottom: 156px;
  margin-bottom: 0px;
}
.main-items-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 0px 69px 26px 69px;
}
.main-items-header h3 {
  margin-bottom: 7px;
  color: #f8c629;
  font-size: 22px;
}
.main-items-header h4 {
  color: #ffffff;
  font-size: 13px;
}

.main-items-header a {
  color: #ffffff;
  font-size: 13px;
}

.main-items-header a::before {
  content:url("../img/arrow.svg");
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-right: 7px;
}
.see-all {
  padding-right: 0px;
  align-items: center;
  text-align: center;
  position: relative;

  padding-top: 50px;
  margin-bottom: 77px;
}
.see-all .main-items-subheader {
  position: absolute;

  left: 50%;
  transform: translatex(-50%);
}
.all{
  margin-top: 27px;
  
}
.see-all a::before {
  content: url("../img/ar.svg");
}
/* .main-items-header a i{
    font-size: 13px;
    margin-right: 7px;
    padding-top: 4px;
} */

.items {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
  justify-content: center;
  padding: 0px 52px;
}
.item {
  margin-bottom: 34px;
  margin-right: 17px;
  margin-left: 17px;
  /* width: 300px; */
  width: calc(25% - 34px);

  line-height: 1.4;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
  color: #393f47;

  align-items: center;
}

.item img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
.item-picture {
  margin-bottom: 12px;
  height: 170px;
  overflow: hidden;
  width: 100%;
}

.picture-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.item h3 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 12px;
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item p {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 210px;
}

.item span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 13px;
}
.item span::before {
  content: "";
  display: block;
  width: 85px;
  height: 1px;
  background-color: #393f47;
  margin-bottom: 15px;
  margin-top: 31px;
}

.page-number{
  max-width: 480px;
  width:70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
}
.page-number .active-page{
  border: 1px solid #E2B62D;
  border-radius: 6px;
  color: #E2B62D;
}
.page-number a{
  color: #F9F9F9;
  font-size: 13px;
  white-space: nowrap;
  
}
.first-page::before{
  content: url('../img/prew.svg');
  margin-right: 8px;
}
.prew-page::before{
  content: url('../img/ar.svg');
  margin-right: 8px;
}
.next-page::after{
  content: url('../img/arrow.svg');
  margin-left: 8px;
}
.last-page::after{
  content: url('../img/next.svg');
  margin-left: 8px;
}
.pages a{
  padding:5px 8px;
  margin-right: 6px;
}
.pages a:last-child{

  margin-right:0px
}
.pages {
 display: flex;

}


/* -----------------------footer-------------------- */

footer {
  background-color: #2e3338;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 110px 75px;
}

.footer-location,
.footer-contact,
.footer-about {
  margin-right: 95px;
  margin-top: 75px;
  width: 342px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.footer-location {
  margin-right: 0px;
}
.footer-about {
  margin-left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-img-logo {
  max-width: 335px;
  width: 100%;
  height: 65px;
}

.footer-img-logo img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.footer-about p {
  color: #e2b62d;

  font-size: 13px;
  text-align: center;
  line-height: 2;
  text-transform: capitalize;
  padding: 0 15px;
}

.footer-about p::before {
  content: "";
  display: block;
  height: 1px;
  max-width: 342px;
  width: 100%;
  background-color: #e2b62d;
  margin: 32px 0px;
}

h5.footer-header {
  color: #e2b62d;
  font-size: 15px;
  vertical-align: middle;
}
h5.footer-header::before {
  width: 23px;
  height: 25px;
  vertical-align: middle;
  margin-right: 12px;
}

.footer-contact h5::before {
  content: url("../img/contact-calendar-icon.svg");
}
.footer-location h5::before {
  content: url("../img/location-icon.svg");
}
.footer-location p {
  color: #e2b62d;
  font-size: 13px;
  line-height: 2;
}
[href="tel:+995571992463"] {
  color: #e2b62d;
  border: solid 1px #6c633e;
  border-radius: 4px;
  padding: 11px 0px;
  display: inline-block;
  font-size: 13px;
  margin-right: 27px;
  max-width: 180px;
  width: 50%;
}

.whatsapp {
  vertical-align: middle;
  white-space: nowrap;
  font-size: 15px;
  color: #3cac5e;
}

.whatsapp::before {
  content: url("../img/Whatsapp.svg");
  width: 31px;
  height: auto;
  vertical-align: middle;
}
.division-line::before {
  content: "";
  background-color: #6c633e;
  width: 100%;
  height: 1px;
  display: block;
  margin: 18px 0;
}

.footer-link {
  color: #e2b62d;
  border: 1px solid #6c633e;
  display: inline-block;
  font-size:13px;
  border-radius: 13px;
  display: flex;
  align-items: center;
 max-width: 300px;
 width: 80%;
  margin-top: 23px;
  padding: 0px 33px;
}
.footer-contact span{
  display: block;
  margin: 0 auto;
  width: 110px;
}

.mail::before {
  content: url("../img/Gmail_icon.svg.png");
  margin-right: 14px;
  padding: 15px 0px;
}

.maps::before {
  content: url("../img/google-maps-logo.png");
  margin-right: 47px;
  padding: 12.5px 0px;
}

/* ---------------------footer-------------------------- */

/* ----------------Contact Page*------------------------*/

.contactpageheader {
  background-image: url("../img/banner-forcontact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
  padding: 57px 20px;
}

.contacpageroof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacpageroof p {
  color: #f8c629;
  font-size: 16px;
  max-width: 618px;
  width: 100%;
  text-align: center;
  display: inline-block;
  line-height: 1.4;
  padding: 11px 140px;
}
.contactlogo {
  max-width: 618px;
  width: 100%;
  height: 110px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /* justify-content: center; */
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}
.contact-content h2 {
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 55px 0px 11px 0px;
  font-weight: bolder;
  font-size: 17px;
}
.contact-content p {
  text-align: center;
  max-width: 803px;
  padding: 0 15px;
  width: 100%;
  font-size: 15px;
  color: #292d31;
  font-family: mySecondFont;

  line-height: 1.5;
}
.lower {
  margin: 16px 0px 130px;
  max-width: 488px;
  width: 100%;
}

.contact {
  margin-bottom: 15px;
}

.contact img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/* --------------------------------- */



@media only screen and (max-width: 1600px) {
  .item{
    width: calc(33% - 34px);
  }
}

@media only screen and (max-width: 1366px) {
  .item{
    width: calc(45% - 34px);
  }
}

@media only screen and (max-width: 1024px) {
  .item{
    max-width: 300px;
    width: 100%;
  }
}


/* -------------------------------------------------- */

.detailview-main-contant{

  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 0px 0px 15px 15px;
}
.detailview{
  margin-bottom: 11px;
  border-radius: 0px 0px 15px 15px;
}

.detailview .see-all{
  margin-bottom: 24px;
}

.detailview-main-contant .for-img{
  max-width:277px ;
  width: 100%;
  height: 170px;
  margin-top: 84px;
  margin-bottom: 20px;
}

.detailview-main-contant .for-img img{

  width: 100%;
  height: 100%;
  object-fit: contain;
}
.detailview-main-contant h3{
  color: #292D31;
  font-size: 17px;
  font-weight: bolder;
  max-width: 410px;
  width: 60%;
  
}
.detailview-main-contant p {
  color: #292D31;
  font-size: 15px;
  max-width: 803px;
  width: 80%;
  margin: 11px 0px;
  line-height: 1.3;
  font-family:mySecondFont ;
}


.detailview-main-contant ul {
 display: flex;
 justify-content: center;
 max-width: 803px;
 width: 80%;
 align-items: center;

}

.detailview-main-contant li {
  margin-right: 49px; text-align: center;
  white-space:nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:15px;
  color: #32373D;
  font-weight: bolder;
}
.detailview-main-contant li:last-child {
  margin-right:0px;
}



/* .color::before{
  content: '';
  width: 84px;
  height: 2px;
  background-color: #399EE1;
  display: block; */


.color::before{
  content: url("../img/coloricon.svg");
  
  border-bottom: 2px solid   #399EE1;
  
}

.type::before{

  content: url("../img/phone-icon.svg");

  border-bottom: 2px solid  #3CAC5E;
}

.price::before{

  
  content: url("../img/Group\ 6185.svg");

  border-bottom: 2px solid #F8C629;
}


.detailview-main-contant li::before{

    display: block;
  padding-bottom: 17px;
  margin-bottom: 17px;
  width: 85px;
}

.links-for-facebook{

  margin-top: 40px;
  margin-bottom: 250px;
  display: flex;
}

.links-for-facebook a{
  margin-right: 26px;
  background-color: #32373D;
  color: #F9F9F9;
  font-size: 13px;
  padding: 18px 40px;
  border-radius: 12px;
  display: inline-block;
  align-items: center;
  display: flex;


}

.links-for-facebook a::before{

  content: url('../img/feather-shopping.svg');
  margin-right: 16px;

}

.links-for-facebook a:last-child{
  margin-right:0px;
  background-color:  #399EE1;

}
.links-for-facebook a:last-child::before{
    content: url('../img/feather-share.svg');
}


